{% extends 'studentapp/base/base.html' %}
{% load static %}

{% block title %}Users{% endblock title %}

{% block breadcrumb %}
<div class="container py-4">
    <div class="row">
        <!-- Поисковая строка -->
        <div class="col-md-12">
            <p>Введите для поиска:</p>
            <input type="text" class="form-control Search" placeholder="Поиск по имени:" style="margin-bottom: 20px;">
        </div>
    </div>
    <div class="row">   
        <div class="col-md-12">
            <ul class="list-unstyled">
                {% for user in staff_users %}
                    <li class="media border p-3 mb-3 rounded shadow-sm">
                        <a href="{% url 'student:user_detail' user.id %}" class="d-flex align-items-center text-decoration-none">
                            <img src="{{ user.image.url }}" alt="User Image" class="mr-3" style="width:60px;height:60px;border-radius:50%;">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1 text-dark">{{ user.first_name }} {{ user.last_name }}</h5>
                                <p class="mb-0 text-muted">Почта: {{ user.email }}</p>
                                <p class="mb-0 text-muted">Последнее обновление: {{ user.last_updated|date:"d M Y" }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<style>
    .media-body p {
        margin: 0;
    }
    .media:hover {
        background-color: #f8f9fa;
    }
    .media a {
        color: inherit;
    }
    .media a:hover {
        text-decoration: none;
    }
</style>
{% endblock breadcrumb %}

{% block extrascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
$(document).ready(function(){
  $(".Search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("li.media").filter(function() {
      $(this).toggle($(this).find("h5").text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock extrascripts %}

<style>
    .media-body p {
        margin: 0;
    }
    .media:hover {
        background-color: #f8f9fa;
    }
    .media a {
        color: inherit;
    }
    .media a:hover {
        text-decoration: none;
    }
</style>
