<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Chat with {{ recipient.username }}</h1>
    <div id="chat-log"></div>
    <input type="text" id="chat-message-input" placeholder="Type a message...">
    <button id="chat-message-submit">Send</button>
    
    <script>
        const roomName = "{{ recipient.username }}";
        const ws = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');

        ws.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').innerHTML += '<p>' + data.sender + ': ' + data.message + '</p>';
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInput = document.querySelector('#chat-message-input');
            const message = messageInput.value;
            ws.send(JSON.stringify({
                'message': message
            }));
            messageInput.value = '';
        };
    </script>
</body>
</html>
